@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #000;
}

header h1 {
  color: #fff;
  font-size: 2.75rem;
  color: #d37638;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header img {
  background: rgba(248, 234, 33, 0.2);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 20px rgba(248, 234, 33, 0.2);
          box-shadow: 0 0 40px 20px rgba(248, 234, 33, 0.2);
  -webkit-transition: padding 350ms ease-out, -webkit-transform 350ms ease-out;
  transition: padding 350ms ease-out, -webkit-transform 350ms ease-out;
  transition: transform 350ms ease-out, padding 350ms ease-out;
  transition: transform 350ms ease-out, padding 350ms ease-out, -webkit-transform 350ms ease-out;
}

header img:hover {
  background: rgba(248, 234, 33, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  padding: 1rem;
}

.appear-side {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.appear {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

main {
  padding: 8rem 2rem;
}

main .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .info-section .book, main .info-section .author {
  min-width: 280px;
  max-width: 400px;
  font-size: 1.25rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: opacity .4s ease-out, -webkit-transform .4s linear;
  transition: opacity .4s ease-out, -webkit-transform .4s linear;
  transition: opacity .4s ease-out, transform .4s linear;
  transition: opacity .4s ease-out, transform .4s linear, -webkit-transform .4s linear;
}

main .info-section .book .book-title, main .info-section .author .book-title {
  padding-bottom: 1rem;
}

main .info-section .author {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

main .info-section .author .author-title {
  padding-bottom: 1rem;
}

.reasons-card__section {
  margin-top: 4rem;
}

.reasons-card__section h2 {
  font-size: 1.75rem;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in, -webkit-transform .4s ease-in;
  transition: opacity .4s ease-in, -webkit-transform .4s ease-in;
  transition: opacity .4s ease-in, transform .4s ease-in;
  transition: opacity .4s ease-in, transform .4s ease-in, -webkit-transform .4s ease-in;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.reasons-card__section h2::before {
  content: '🤔';
  font-size: 2rem;
}

.reasons-card__section .reasons-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4rem;
  text-align: center;
}

.reasons-card__section .reasons-cards .reason-card {
  max-width: 320px;
  padding: 1.5rem 1rem;
  background: #f3c83d;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity .4s ease-out, -webkit-transform .4s linear;
  transition: opacity .4s ease-out, -webkit-transform .4s linear;
  transition: opacity .4s ease-out, transform .4s linear;
  transition: opacity .4s ease-out, transform .4s linear, -webkit-transform .4s linear;
}

.reasons-card__section .reasons-cards .reason-card h3 {
  font-size: 2rem;
  -webkit-animation: left-to-right 2s ease-out infinite;
          animation: left-to-right 2s ease-out infinite;
}

.reasons-card__section .reasons-cards .reason-card h4 {
  font-size: 1.4rem;
  padding: .75rem 0;
}

.reasons-card__section .reasons-cards .reason-card p {
  font-size: 1.1rem;
}

.reasons-card__section .reasons-cards .reason-card:nth-of-type(2) {
  -webkit-transition: opacity .5s ease-out, -webkit-transform .5s linear;
  transition: opacity .5s ease-out, -webkit-transform .5s linear;
  transition: opacity .5s ease-out, transform .5s linear;
  transition: opacity .5s ease-out, transform .5s linear, -webkit-transform .5s linear;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.reasons-card__section .reasons-cards .reason-card:last-of-type {
  -webkit-transition: opacity .6s ease-out, -webkit-transform .6s linear;
  transition: opacity .6s ease-out, -webkit-transform .6s linear;
  transition: opacity .6s ease-out, transform .6s linear;
  transition: opacity .6s ease-out, transform .6s linear, -webkit-transform .6s linear;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes left-to-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=main.css.map */